.contentContainer {
	--c: #{mix(#fff, darkorange, 25%)};
	--s0: calc(#{$o} + #{$l});
	--s1: calc(#{$o} + #{$l} + #{$p});
	place-self: center;
	position: relative;
	padding: 0%;
}

img {
    max-height: 100%;
    max-width: 40%;
}